@page
@model SportsCLubClasses.Pages.Members.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    dl.row {
        background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
        color: black; /* Text color for table rows */
    }


    a.button {
        display: inline-block;
        padding: 10px;
        margin: 5px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        color: white;
        background-color: #007bff; /* You can change the color to your preference */
    }
</style>

</style>
<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member?.ID" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="button">Back to List</a>
</div>
