@page
@model SportsCLubClasses.Pages.SportsCLubs.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<style>
    dl.row {
        background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
        color: black; /* Text color for table rows */
    }


    a.button {
        display: inline-block;
        padding: 10px;
        margin: 5px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        color: white;
        background-color: #007bff; /* You can change the color to your preference */
    }
</style>


<h1>Details</h1>

<div>
    <h4>SportsCLub</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportsCLub.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportsCLub.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportsCLub.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportsCLub.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportsCLub.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportsCLub.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportsCLub.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportsCLub.Price)
        </dd>
      
          </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SportsCLub?.ID" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="button">Back to List</a>
</div>
